<header>
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="beanery_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Beanery
            </a>
            <div class="navbar-collapse navbar-mod">
                <ul class="navbar-nav mr-auto ul-mod">
                    <li class="nav-item item-mod">
                        <button class="btn">About Us</button>
                    </li>
                    <li class="nav-item item-mod">
                        <button class="btn" asp-area="" asp-controller="Home" asp-action="Privacy">Contact Us</button>
                    </li>
                    <li class="nav-item item-mod">
                        <button class="btn btn-light text-danger" asp-area="" asp-controller="Home" asp-action="Privacy">Sign in</button>
                    </li>
                    <li class="nav-item item-mod">
                        <button class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Privacy">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>