@{
    ViewData["Title"] = "Home Page";
}
<partial name="_NavigationBar" />
<div class="row">
    <div class="col">
        <h1 class="title">Date Night?</h1>
        <h1 class="sub-title">Family Plans?</h1>
        <h1 class="sub-title">We got you covered</h1>
        <h4 class="sub-title">Explore your nearby restaurants with the help of beanery</h4>
    </div>
    <div class="col">
        <img src="https://i.ibb.co/y5tcXyG/4-SCENE.png" alt="TitleImage">
    </div>
</div>
<h1 class="category">About Us</h1>
<img class="underline-img" src="https://i.ibb.co/HnqYzkJ/Png-Item-57047.png" alt="Png-Item-57047" width="406" height="59">
<div class="row">
    <div class="col">
        <img src="https://i.ibb.co/9NsNtKS/10-SCENE.png" alt="10-SCENE">
    </div>
    <div class="col">
        <h1 class="title">Our Vision</h1>
        <h2 class="sub-title">Beanery has a simple vision offering a complete dining experience to customers at affordable price.</h4>
    </div>
</div>
<h1 class="category">Contact Us</h1>
<img class="underline-img" src="https://i.ibb.co/HnqYzkJ/Png-Item-57047.png" alt="Png-Item-57047" width="406" height="59">
<div class="row">
    <div class="col">
        <h1 class="title">In case of any queries</h1>
        <h4 class="sub-title">Mail : mailservice@beanery.com</h4>
        <h4 class="sub-title">Phone  no : +91 9876543210 </h4>
    </div>
    <div class="col">
        <img src="https://i.ibb.co/xmVnzkH/6-SCENE.png" alt="6-SCENE">
    </div>
</div>